.review-table, 
.review-table th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.review-info {
    display: flex;
    justify-content: center;
    margin: 25px auto;
}

.review-table th {
    text-align: center;
    font-family: Ayuthaya;
    background-color: rgb(203, 201, 197);
}

#section-head {
    text-align: left;
}

#response {
    text-align: center;
    width: 300px;
    font-weight: bold;
    font-family: Trebuchet MS;
}

#section {
    font-weight: bold;
    font-family: Trebuchet MS;
    width: 125px;
    background-color: rgb(194, 194, 253);
}