.admin-table,
.admin-table th,
.admin-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

.admin-table td {
    height: 25px;
    text-align: center;
    background-color: ghostwhite;
    padding: 5px;
}

.admin-table {
    margin: 0 auto;
}

.admin-h1 {
    text-align: center;
}

.admin-table th {
    background-color: steelblue;
    color: aliceblue;
    font-size: 20px;
    padding: 10px
}

#id {
    font-weight: bold;
}

.flagged-row {
    background-color: yellow;
}

.flagged-row td {
    background-color: transparent; /* added for ability to see the flagged row */
}

.login-head {
    background-color: rgb(74, 74, 115);
    border-radius: 5px;
    color:ghostwhite;
    text-align: center;
}

.login-card {
    background-color: rgb(13, 36, 36);
}

.login-input {
    background-color: rgba(248, 248, 255, 0.374);
    border-radius: 10px;
}

#logoutBtn {
   margin-left: 25%;
}