.admin-table,
.admin-table th,
.admin-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

.admin-table td {
    height: 25px;
    text-align: center;
    background-color: ghostwhite;
    padding: 5px;
}

.admin-table {
    margin: 0 auto;
}

.admin-h1 {
    text-align: center;
}

.admin-table th {
    background-color: steelblue;
    color: aliceblue;
    font-size: smaller;
}

#id {
    font-weight: bold;
}

.flagged-row {
    background-color: yellow;
}

.flagged-row td {
    background-color: transparent; /* added for ability to see the flagged row */
}