.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    flex-grow: 1;
}

.topBtn {
    display: flex;
    margin-right: auto;
    margin-bottom: 5px;
}

.backBtn {
    display: flex;
    justify-content: right;;
}