.card h4 {
    text-align: center;
    background-color: rgb(132, 157, 233);
    border-radius: 5px;
    font-family: system-ui;
    border-radius: 10px;
}

.success-info {
    padding: 15px;
    background-color: rgb(182, 176, 187);
    border-radius: 10px;
}

.success-info h3 {
    text-align: center;
    font-family: system-ui;
}

.centerBtn {
    display:flex;
    justify-content: center;
    align-items: center;
}