input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: 10px;
  width: 10px;
}

th {
    font-size: 24px;
}

.radio-table {
  border-collapse: separate;
  border-spacing: 40px; /* Adjust the spacing as needed */
}

.radio-table td {
  border: 1px solid #ccc; /* Add a border to separate cells visually */
  border-radius: 50%;
  width: 1rem;
  padding: 5px;
  background-color: rgba(84, 92, 215, 0.85);
}

.radio-table input[type="radio"] {
  margin: 0; /* Remove any default margin on radio buttons */
}

.radio-table td:hover {
    background-color: rgb(20, 195, 101);
}

#input {
    margin: 2px 0 2px 2px;
    height: 20px;
    width: 20px;
}

.card {
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}
